# Backend
backend/user-service/target/
backend/user-service/*.iml
backend/user-service/Dockerfile
backend/catalog-service/target/
backend/catalog-service/*.iml
backend/catalog-service/Dockerfile
backend/recommendation-service/target/
backend/recommendation-service/*.iml
backend/recommendation-service/Dockerfile
node_modules/
**/target/
**/.mvn/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
