# Backend
backend/user-service/target/
backend/user-service/.mvn/
backend/user-service/*.iml
backend/catalog-service/target/
backend/catalog-service/*.iml

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
